body {
  margin-top: 35px;
}

.nav_bar {
  background-color: #aaa;
  height: 35px;
  width: 100%;
}

.page_content {
  padding-top: 20px;
  border-inline: 2px solid #aaa5;
  border-bottom: 2px solid #aaa5;
  max-width: 70%;
}

.login_form {
  min-width: 40vw;
  max-width: 50vw;
  justify-self: center;
}

.author_info {
  padding-top: 7px;
  font-size: 15px;
  font-style: italic;
}
